Você não precisa remover esses arquivos. É muito mais fácil bloquear o acesso a eles. O uso de .htaccess para bloquear os arquivos é seguro e você só precisa 
adicionar uma única vez.

O bloqueio de arquivos é feito adicionando o código abaixo no .htaccess.

You do not need to remove these files. It is much easier to block access to them. Using .htaccess to block files is safe and you only need to add them once.

Blocking files is done by adding the code below to .htaccess.

# BLOQUEAR A LINCENÇA DO WORDPRESS #
# BLOCKING WORDPRESS LINCENCE #
<files license.txt>
Order deny,allow
Deny from all
</files>
